* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  width: 250px;
  height: auto;
  text-align: center;
  gap: 20px;
  & .btn-show {
    margin: 0 auto;
    width: 50px;
  }
}       
.books {
  flex: 1;
  & h2 {
    text-align: center;
  }
  & .container-books {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
  }
}

/*Todo esto lo añadire con js*/
dialog{
  border: none !important;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.display {
  border: 20px solid red;
}

.card {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 10px;
  height: auto;
  width: auto;
  & select {
    height: 25px;
    width: 50px;
  }
}
